<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">
 
	 <!-- 激活组件扫描功能,扫描aop的相关组件组件 -->
	<!-- <context:component-scan base-package="org.seckill.aop"/>-->
	<!-- 启动对@AspectJ注解的支持 -->
	<!-- <aop:aspectj-autoproxy proxy-target-class="false" />-->
 
	<!-- 配置SpringMVC -->
	<!-- 1.开启SpringMVC注解模式 -->
	<!-- 简化配置： 
		(1)自动注册DefaultAnootationHandlerMapping,AnotationMethodHandlerAdapter 
		(2)提供一些列：数据绑定，数字和日期的format @NumberFormat, @DateTimeFormat, xml,json默认读写支持 
	-->
	<mvc:annotation-driven />
	
	<!-- 2.静态资源默认servlet配置
		(1)加入对静态资源的处理：js,gif,png
		(2)允许使用"/"做整体映射
	 -->
	 <mvc:resources location="/resources/**" mapping="/resources/"/>
	 <mvc:default-servlet-handler/>
	 
	 <!-- 3.配置jsp 显示ViewResolver -->
	 <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	 	<!-- <property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />-->
	 	<property name="prefix" value="/WEB-INF/html/" />
	 	<property name="suffix" value=".html" />
	 </bean>
	 <!-- 文件上传解析器 -->
	 <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
	 	<property name="defaultEncoding" value="utf-8"></property>
	 	<property name="maxUploadSize" value="20971520"></property>
	 	<property name="maxInMemorySize" value="20971520"></property>
	 </bean>
	 <!-- 4.扫描web相关的bean -->
	 <context:component-scan base-package="com.imooc.o2o.web" />
	 
	 <!-- 5.权限拦截器 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/local/**" />
			<mvc:exclude-mapping path="/local/login" />
			<mvc:exclude-mapping path="/local/logincheck" />
			<mvc:exclude-mapping path="/local/logout" />
			<mvc:exclude-mapping path="/local/bindlocalauth" />
			<bean id="LocalInterceptor" class="com.imooc.o2o.interceptor.local.LocalLoginInterceptor" />
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/shop/**" />
			<!-- shoplist page -->
			<mvc:exclude-mapping path="/shop/shoplist" />
			<mvc:exclude-mapping path="/shop/logout" />
			<mvc:exclude-mapping path="/shop/list" />
			<!-- changepsw page -->
			<mvc:exclude-mapping path="/shop/changepsw" />
			<mvc:exclude-mapping path="/shop/changelocalpwd" />							
			<!-- ownerbind page -->
			<mvc:exclude-mapping path="/shop/ownerbind" />
			<mvc:exclude-mapping path="/shop/bindlocalauth" />
			<!-- shopmanage page -->
			<mvc:exclude-mapping path="/shop/shopmanage" />
			<!-- shopedit page -->
			<mvc:exclude-mapping path="/shop/shopedit" />
			<mvc:exclude-mapping path="/shop/getshopbyid" />
			<mvc:exclude-mapping path="/shop/getshopinitinfo" />
			<mvc:exclude-mapping path="/shop/registershop" />
			<bean id="ShopPermissionInterceptor"
				class="com.imooc.o2o.interceptor.shopadmin.ShopPermissionInterceptor" />
		</mvc:interceptor>

	</mvc:interceptors>
	 
</beans>
